In [1]:
import pyspark 
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.functions import year, date_format,col
from pyspark.sql.types import StringType

In [2]:
data_path = '/home/idowuileks/Desktop/tech_project/nyc_taxi_project/docker_sql/etl_script/data/2023_data/yellow_tripdata_2023-01.parquet'
import logging 
# import logging

# Set the log level to WARN
logging.getLogger("py4j").setLevel(logging.ERROR)
# .config("spark.jars.packages", "org.postgresql:postgresql:42.6.0")
# sc = pyspark.SparkContext('local[*]')
# sc.setLogLevel("ERROR")
# spark = SparkSession.builder.config("spark.jars","~/Desktop/tech_project/nyc_taxi_project/postgresql-42.7.1.jar").master("local[*]").appName("test").getOrCreate()
# spark.sparkContext.setLogLevel("ERROR")





# spark.conf.set("spark.sql.execution.arrow.pyspark.enabled", "true")

In [3]:
spark = SparkSession.builder.appName("hello").config("spark.master", "local[*]").config("spark.jars.packages", "org.postgresql:postgresql:42.6.0").getOrCreate()
spark.sparkContext.setLogLevel("ERROR")

24/02/19 00:27:13 WARN Utils: Your hostname, idowu-pc resolves to a loopback address: 127.0.1.1; using 192.168.1.127 instead (on interface wlo1)
24/02/19 00:27:13 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

:: loading settings :: url = jar:file:/opt/spark/jars/ivy-2.5.0.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /home/idowuileks/.ivy2/cache
The jars for the packages stored in: /home/idowuileks/.ivy2/jars
org.postgresql#postgresql added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-46a053c2-78ff-47ea-93db-581e01b0d49d;1.0
	confs: [default]
	found org.postgresql#postgresql;42.6.0 in central
	found org.checkerframework#checker-qual;3.31.0 in central
:: resolution report :: resolve 134ms :: artifacts dl 7ms
	:: modules in use:
	org.checkerframework#checker-qual;3.31.0 from central in [default]
	org.postgresql#postgresql;42.6.0 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   2   |   0   |   0   |   0   ||   2   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-46a053c2-78ff-47ea-93db-581e01b0d49d
	confs: [default]
	0 artifacts copied, 2 already retrieved (0kB/7ms)
24/02/19 00:27:14 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [ ]:
config("spark.jars","/home/idowuileks/Desktop/tech_project/nyc_taxi_project/postgresql-42.7.1.jar")

In [25]:
df = spark.read.option("header","true").format("parquet").load(data_path,inferSchema="true")

In [27]:
def get_date_info_pyspark(df, column, new_column_prefix):
  """
  Extracts various date information from a PySpark DataFrame column.

  Args:
    df: The PySpark DataFrame.
    column: The name of the date column.
    new_column_prefix: The prefix for the new columns containing date information.

  Returns:
    The modified DataFrame with new columns containing year, month, day, hour, minute,
    day of week, day name, month-end flag, and year-end flag.
  """

  df = df.withColumn(f"{new_column_prefix}_year", F.year(F.col(column)))
  df = df.withColumn(f"{new_column_prefix}_month", F.month(F.col(column)))
  df = df.withColumn(f"{new_column_prefix}_day", F.dayofmonth(F.col(column)))
  df = df.withColumn(f"{new_column_prefix}_hour", F.hour(F.col(column)))
  df = df.withColumn(f"{new_column_prefix}_minute", F.minute(F.col(column)))
  df = df.withColumn(f"{new_column_prefix}_day_of_week", F.dayofweek(column))
  df = df.withColumn(f"{new_column_prefix}_day_name", F.date_format(column, "EEEE"))
  df = df.withColumn(f"{new_column_prefix}_month_name", F.date_format(column, "MMMM"))
  df = df.withColumn(f"{new_column_prefix}_is_month_end", F.last_day(F.col(column)) == F.col(column))

  return df

In [26]:
df_time_table_pickup = get_date_info_pyspark(df,'tpep_dropoff_datetime','pickup')

# df_time_table_pickup.show()

In [8]:
df_time_table_pickup.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+-----------+------------+----------+-----------+-------------+------------------+---------------+-----------------+-------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|pickup_year|pickup_month|pickup_day|pickup_hour|pickup_minute|pickup_day_of_week|pickup_day_name|pickup_month_name|pickup_is_month_end|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+-----------+------------+----------+-----------+-------------+------------------+---------------+-----------------+-------------------+
|       2| 2023-01-01 00:32:10|  2023-01-01 00:40:36|            1.0|         0.97|       1.0|                 N|         161|         141|           2|        9.3|  1.0|    0.5|       0.0|         0.0|                  1.0|        14.3|                 2.5|        0.0|       2023|           1|         1|          0|           40|                 1|         Sunday|          January|              false|
|       2| 2023-01-01 00:55:08|  2023-01-01 01:01:27|            1.0|          1.1|       1.0|                 N|          43|         237|           1|        7.9|  1.0|    0.5|       4.0|         0.0|                  1.0|        16.9|                 2.5|        0.0|       2023|           1|         1|          1|            1|                 1|         Sunday|          January|              false|
|       2| 2023-01-01 00:25:04|  2023-01-01 00:37:49|            1.0|         2.51|       1.0|                 N|          48|         238|           1|       14.9|  1.0|    0.5|      15.0|         0.0|                  1.0|        34.9|                 2.5|        0.0|       2023|           1|         1|          0|           37|                 1|         Sunday|          January|              false|
|       1| 2023-01-01 00:03:48|  2023-01-01 00:13:25|            0.0|          1.9|       1.0|                 N|         138|           7|           1|       12.1| 7.25|    0.5|       0.0|         0.0|                  1.0|       20.85|                 0.0|       1.25|       2023|           1|         1|          0|           13|                 1|         Sunday|          January|              false|
|       2| 2023-01-01 00:10:29|  2023-01-01 00:21:19|            1.0|         1.43|       1.0|                 N|         107|          79|           1|       11.4|  1.0|    0.5|      3.28|         0.0|                  1.0|       19.68|                 2.5|        0.0|       2023|           1|         1|          0|           21|                 1|         Sunday|          January|              false|
|       2| 2023-01-01 00:50:34|  2023-01-01 01:02:52|            1.0|         1.84|       1.0|                 N|         161|         137|           1|       12.8|  1.0|    0.5|      10.0|         0.0|                  1.0|        27.8|                 2.5|        0.0|       2023|           1|         1|          1|            2|                 1|         Sunday|          January|              false|
|       2| 2023-01-01 00:09:22|  2023-01-01 00:19:49|            1.0|         1.66|       1.0|                 N|         239|         143|           1|       12.1|  1.0|    0.5|      3.42|         0.0|                  1.0|       20.52|                 2.5|        0.0|       2023|           1|         1|          0|           19|                 1|         Sunday|          January|              false|
|       2| 2023-01-01 00:27:12|  2023-01-01 00:49:56|            1.0|         11.7|       1.0|                 N|         142|         200|           1|       45.7|  1.0|    0.5|     10.74|         3.0|                  1.0|       64.44|                 2.5|        0.0|       2023|           1|         1|          0|           49|                 1|         Sunday|          January|              false|
|       2| 2023-01-01 00:21:44|  2023-01-01 00:36:40|            1.0|         2.95|       1.0|                 N|         164|         236|           1|       17.7|  1.0|    0.5|      5.68|         0.0|                  1.0|       28.38|                 2.5|        0.0|       2023|           1|         1|          0|           36|                 1|         Sunday|          January|              false|
|       2| 2023-01-01 00:39:42|  2023-01-01 00:50:36|            1.0|         3.01|       1.0|                 N|         141|         107|           2|       14.9|  1.0|    0.5|       0.0|         0.0|                  1.0|        19.9|                 2.5|        0.0|       2023|           1|         1|          0|           50|                 1|         Sunday|          January|              false|
|       2| 2023-01-01 00:53:01|  2023-01-01 01:01:45|            1.0|          1.8|       1.0|                 N|         234|          68|           1|       11.4|  1.0|    0.5|      3.28|         0.0|                  1.0|       19.68|                 2.5|        0.0|       2023|           1|         1|          1|            1|                 1|         Sunday|          January|              false|
|       1| 2023-01-01 00:43:37|  2023-01-01 01:17:18|            4.0|          7.3|       1.0|                 N|          79|         264|           1|       33.8|  3.5|    0.5|      7.75|         0.0|                  1.0|       46.55|                 2.5|        0.0|       2023|           1|         1|          1|           17|                 1|         Sunday|          January|              false|
|       2| 2023-01-01 00:34:44|  2023-01-01 01:04:25|            1.0|         3.23|       1.0|                 N|         164|         143|           1|       26.1|  1.0|    0.5|      6.22|         0.0|                  1.0|       37.32|                 2.5|        0.0|       2023|           1|         1|          1|            4|                 1|         Sunday|          January|              false|
|       2| 2023-01-01 00:09:29|  2023-01-01 00:29:23|            2.0|        11.43|       1.0|                 N|         138|          33|           1|       44.3|  6.0|    0.5|     13.26|         0.0|                  1.0|       66.31|                 0.0|       1.25|       2023|           1|         1|          0|           29|                 1|         Sunday|          January|              false|
|       2| 2023-01-01 00:33:53|  2023-01-01 00:49:15|            1.0|         2.95|       1.0|                 N|          33|          61|           1|       17.7|  1.0|    0.5|      4.04|         0.0|                  1.0|       24.24|                 0.0|        0.0|       2023|           1|         1|          0|           49|                 1|         Sunday|          January|              false|
|       2| 2023-01-01 00:13:04|  2023-01-01 00:22:10|            1.0|         1.52|       1.0|                 N|          79|         186|           1|       10.0|  1.0|    0.5|      1.25|         0.0|                  1.0|       16.25|                 2.5|        0.0|       2023|           1|         1|          0|           22|                 1|         Sunday|          January|              false|
|       2| 2023-01-01 00:45:11|  2023-01-01 01:07:39|            1.0|         2.23|       1.0|                 N|          90|          48|           1|       19.8|  1.0|    0.5|      4.96|         0.0|                  1.0|       29.76|                 2.5|        0.0|       2023|           1|         1|          1|            7|                 1|         Sunday|          January|              false|
|       1| 2023-01-01 00:04:33|  2023-01-01 00:19:22|            1.0|          4.5|       1.0|                 N|         113|         255|           1|       20.5|  3.5|    0.5|       4.0|         0.0|                  1.0|        29.5|                 2.5|        0.0|       2023|           1|         1|          0|           19|                 1|         Sunday|          January|              false|
|       1| 2023-01-01 00:03:36|  2023-01-01 00:09:36|            3.0|          1.2|       1.0|                 N|         237|         239|           2|        8.6|  3.5|    0.5|       0.0|         0.0|                  1.0|        13.6|                 2.5|        0.0|       2023|           1|         1|          0|            9|                 1|         Sunday|          January|              false|
|       1| 2023-01-01 00:15:23|  2023-01-01 00:29:41|            2.0|          2.5|       1.0|                 N|         143|         229|           2|       15.6|  3.5|    0.5|       0.0|         0.0|                  1.0|        20.6|                 2.5|        0.0|       2023|           1|         1|          0|           29|                 1|         Sunday|          January|              false|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+-----------+------------+----------+-----------+-------------+------------------+---------------+-----------------+-------------------+
only showing top 20 rows

In [9]:
null_check_df = df_time_table_pickup.select([col(c).isNull().alias(c+"_isNull") for c in df.columns])

# Show the result
null_check_df.show()

+---------------+---------------------------+----------------------------+----------------------+--------------------+-----------------+-------------------------+-------------------+-------------------+-------------------+------------------+------------+--------------+-----------------+-------------------+----------------------------+-------------------+---------------------------+------------------+
|VendorID_isNull|tpep_pickup_datetime_isNull|tpep_dropoff_datetime_isNull|passenger_count_isNull|trip_distance_isNull|RatecodeID_isNull|store_and_fwd_flag_isNull|PULocationID_isNull|DOLocationID_isNull|payment_type_isNull|fare_amount_isNull|extra_isNull|mta_tax_isNull|tip_amount_isNull|tolls_amount_isNull|improvement_surcharge_isNull|total_amount_isNull|congestion_surcharge_isNull|airport_fee_isNull|
+---------------+---------------------------+----------------------------+----------------------+--------------------+-----------------+-------------------------+-------------------+-------------------+-------------------+------------------+------------+--------------+-----------------+-------------------+----------------------------+-------------------+---------------------------+------------------+
|          false|                      false|                       false|                 false|               false|            false|                    false|              false|              false|              false|             false|       false|         false|            false|              false|                       false|              false|                      false|             false|
|          false|                      false|                       false|                 false|               false|            false|                    false|              false|              false|              false|             false|       false|         false|            false|              false|                       false|              false|                      false|             false|
|          false|                      false|                       false|                 false|               false|            false|                    false|              false|              false|              false|             false|       false|         false|            false|              false|                       false|              false|                      false|             false|
|          false|                      false|                       false|                 false|               false|            false|                    false|              false|              false|              false|             false|       false|         false|            false|              false|                       false|              false|                      false|             false|
|          false|                      false|                       false|                 false|               false|            false|                    false|              false|              false|              false|             false|       false|         false|            false|              false|                       false|              false|                      false|             false|
|          false|                      false|                       false|                 false|               false|            false|                    false|              false|              false|              false|             false|       false|         false|            false|              false|                       false|              false|                      false|             false|
|          false|                      false|                       false|                 false|               false|            false|                    false|              false|              false|              false|             false|       false|         false|            false|              false|                       false|              false|                      false|             false|
|          false|                      false|                       false|                 false|               false|            false|                    false|              false|              false|              false|             false|       false|         false|            false|              false|                       false|              false|                      false|             false|
|          false|                      false|                       false|                 false|               false|            false|                    false|              false|              false|              false|             false|       false|         false|            false|              false|                       false|              false|                      false|             false|
|          false|                      false|                       false|                 false|               false|            false|                    false|              false|              false|              false|             false|       false|         false|            false|              false|                       false|              false|                      false|             false|
|          false|                      false|                       false|                 false|               false|            false|                    false|              false|              false|              false|             false|       false|         false|            false|              false|                       false|              false|                      false|             false|
|          false|                      false|                       false|                 false|               false|            false|                    false|              false|              false|              false|             false|       false|         false|            false|              false|                       false|              false|                      false|             false|
|          false|                      false|                       false|                 false|               false|            false|                    false|              false|              false|              false|             false|       false|         false|            false|              false|                       false|              false|                      false|             false|
|          false|                      false|                       false|                 false|               false|            false|                    false|              false|              false|              false|             false|       false|         false|            false|              false|                       false|              false|                      false|             false|
|          false|                      false|                       false|                 false|               false|            false|                    false|              false|              false|              false|             false|       false|         false|            false|              false|                       false|              false|                      false|             false|
|          false|                      false|                       false|                 false|               false|            false|                    false|              false|              false|              false|             false|       false|         false|            false|              false|                       false|              false|                      false|             false|
|          false|                      false|                       false|                 false|               false|            false|                    false|              false|              false|              false|             false|       false|         false|            false|              false|                       false|              false|                      false|             false|
|          false|                      false|                       false|                 false|               false|            false|                    false|              false|              false|              false|             false|       false|         false|            false|              false|                       false|              false|                      false|             false|
|          false|                      false|                       false|                 false|               false|            false|                    false|              false|              false|              false|             false|       false|         false|            false|              false|                       false|              false|                      false|             false|
|          false|                      false|                       false|                 false|               false|            false|                    false|              false|              false|              false|             false|       false|         false|            false|              false|                       false|              false|                      false|             false|
+---------------+---------------------------+----------------------------+----------------------+--------------------+-----------------+-------------------------+-------------------+-------------------+-------------------+------------------+------------+--------------+-----------------+-------------------+----------------------------+-------------------+---------------------------+------------------+
only showing top 20 rows

In [92]:
print(df_time_table_pickup.head())

Row(VendorID=2, tpep_pickup_datetime=datetime.datetime(2023, 1, 1, 0, 32, 10), tpep_dropoff_datetime=datetime.datetime(2023, 1, 1, 0, 40, 36), passenger_count=1.0, trip_distance=0.97, RatecodeID=1.0, store_and_fwd_flag='N', PULocationID=161, DOLocationID=141, payment_type=2, fare_amount=9.3, extra=1.0, mta_tax=0.5, tip_amount=0.0, tolls_amount=0.0, improvement_surcharge=1.0, total_amount=14.3, congestion_surcharge=2.5, airport_fee=0.0, pickup_year=2023, pickup_month=1, pickup_day=1, pickup_hour=0, pickup_minute=40, pickup_day_of_week=1, pickup_day_name='Sunday', pickup_month_name='January', pickup_is_month_end=False)

In [44]:
# df = df_time_table_pickup.limit(10).take(3)

In [32]:
# pd.read_clipboard('

In [13]:
from pyspark.sql.functions import concat_ws

In [30]:
df = df.withColumn(
    'datetime_id',
    concat_ws('_', col('tpep_pickup_datetime').cast(StringType()), col('tpep_dropoff_datetime').cast(StringType()))
)

In [45]:
df.head()

Row(VendorID=2, tpep_pickup_datetime=datetime.datetime(2023, 1, 1, 0, 32, 10), tpep_dropoff_datetime=datetime.datetime(2023, 1, 1, 0, 40, 36), passenger_count=1.0, trip_distance=0.97, RatecodeID=1.0, store_and_fwd_flag='N', PULocationID=161, DOLocationID=141, payment_type=2, fare_amount=9.3, extra=1.0, mta_tax=0.5, tip_amount=0.0, tolls_amount=0.0, improvement_surcharge=1.0, total_amount=14.3, congestion_surcharge=2.5, airport_fee=0.0)

In [31]:
df = spark.createDataFrame([('1997-02-10',)], ['d'])

# df.select(last_day(df.d).alias('date')).collect()

Traceback (most recent call last):
  File "/opt/spark/python/pyspark/serializers.py", line 437, in dumps
    return cloudpickle.dumps(obj, pickle_protocol)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/spark/python/pyspark/cloudpickle/cloudpickle_fast.py", line 73, in dumps
    cp.dump(obj)
  File "/opt/spark/python/pyspark/cloudpickle/cloudpickle_fast.py", line 563, in dump
    return Pickler.dump(self, obj)
           ^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/spark/python/pyspark/cloudpickle/cloudpickle_fast.py", line 653, in reducer_override
    return self._function_reduce(obj)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/spark/python/pyspark/cloudpickle/cloudpickle_fast.py", line 526, in _function_reduce
    return self._dynamic_function_reduce(obj)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/spark/python/pyspark/cloudpickle/cloudpickle_fast.py", line 507, in _dynamic_function_reduce
    state = _function_getstate(func)
            ^^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/spark/python/pyspark/cloudpickle/cloudpickle_fast.py", line 157, in _function_getstate
    f_globals_ref = _extract_code_globals(func.__code__)
                    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/spark/python/pyspark/cloudpickle/cloudpickle.py", line 236, in _extract_code_globals
    out_names = {names[oparg] for _, oparg in _walk_global_ops(co)}
                ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/spark/python/pyspark/cloudpickle/cloudpickle.py", line 236, in <setcomp>
    out_names = {names[oparg] for _, oparg in _walk_global_ops(co)}
                 ~~~~~^^^^^^^
IndexError: tuple index out of range

PicklingError: Could not serialize object: IndexError: tuple index out of range

In [14]:
def join_pick_drop(column_a, column_b):
    # return col(column_a).cast(StringType()) + "_" + col(column_b).cast(StringType())
    return concat_ws("_", col(column_a).cast(StringType()), col(column_b).cast(StringType()))
    # return concat_ws("_", col(column_a).cast(StringType()), col(column_b).cast(StringType()))

In [74]:
df = df.withColumn('test_concat', join_pick_drop("tpep_pickup_datetime", "tpep_dropoff_datetime"))

In [75]:
df.head()

Row(VendorID=2, tpep_pickup_datetime=datetime.datetime(2023, 1, 1, 0, 32, 10), tpep_dropoff_datetime=datetime.datetime(2023, 1, 1, 0, 40, 36), passenger_count=1.0, trip_distance=0.97, RatecodeID=1.0, store_and_fwd_flag='N', PULocationID=161, DOLocationID=141, payment_type=2, fare_amount=9.3, extra=1.0, mta_tax=0.5, tip_amount=0.0, tolls_amount=0.0, improvement_surcharge=1.0, total_amount=14.3, congestion_surcharge=2.5, airport_fee=0.0, test_concat='2023-01-01 00:32:10_2023-01-01 00:40:36')

In [48]:
df.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       2| 2023-01-01 00:32:10|  2023-01-01 00:40:36|            1.0|         0.97|       1.0|                 N|         161|         141|           2|        9.3|  1.0|    0.5|       0.0|         0.0|                  1.0|        14.3|                 2.5|        0.0|
|       2| 2023-01-01 00:55:08|  2023-01-01 01:01:27|            1.0|          1.1|       1.0|                 N|          43|         237|           1|        7.9|  1.0|    0.5|       4.0|         0.0|                  1.0|        16.9|                 2.5|        0.0|
|       2| 2023-01-01 00:25:04|  2023-01-01 00:37:49|            1.0|         2.51|       1.0|                 N|          48|         238|           1|       14.9|  1.0|    0.5|      15.0|         0.0|                  1.0|        34.9|                 2.5|        0.0|
|       1| 2023-01-01 00:03:48|  2023-01-01 00:13:25|            0.0|          1.9|       1.0|                 N|         138|           7|           1|       12.1| 7.25|    0.5|       0.0|         0.0|                  1.0|       20.85|                 0.0|       1.25|
|       2| 2023-01-01 00:10:29|  2023-01-01 00:21:19|            1.0|         1.43|       1.0|                 N|         107|          79|           1|       11.4|  1.0|    0.5|      3.28|         0.0|                  1.0|       19.68|                 2.5|        0.0|
|       2| 2023-01-01 00:50:34|  2023-01-01 01:02:52|            1.0|         1.84|       1.0|                 N|         161|         137|           1|       12.8|  1.0|    0.5|      10.0|         0.0|                  1.0|        27.8|                 2.5|        0.0|
|       2| 2023-01-01 00:09:22|  2023-01-01 00:19:49|            1.0|         1.66|       1.0|                 N|         239|         143|           1|       12.1|  1.0|    0.5|      3.42|         0.0|                  1.0|       20.52|                 2.5|        0.0|
|       2| 2023-01-01 00:27:12|  2023-01-01 00:49:56|            1.0|         11.7|       1.0|                 N|         142|         200|           1|       45.7|  1.0|    0.5|     10.74|         3.0|                  1.0|       64.44|                 2.5|        0.0|
|       2| 2023-01-01 00:21:44|  2023-01-01 00:36:40|            1.0|         2.95|       1.0|                 N|         164|         236|           1|       17.7|  1.0|    0.5|      5.68|         0.0|                  1.0|       28.38|                 2.5|        0.0|
|       2| 2023-01-01 00:39:42|  2023-01-01 00:50:36|            1.0|         3.01|       1.0|                 N|         141|         107|           2|       14.9|  1.0|    0.5|       0.0|         0.0|                  1.0|        19.9|                 2.5|        0.0|
|       2| 2023-01-01 00:53:01|  2023-01-01 01:01:45|            1.0|          1.8|       1.0|                 N|         234|          68|           1|       11.4|  1.0|    0.5|      3.28|         0.0|                  1.0|       19.68|                 2.5|        0.0|
|       1| 2023-01-01 00:43:37|  2023-01-01 01:17:18|            4.0|          7.3|       1.0|                 N|          79|         264|           1|       33.8|  3.5|    0.5|      7.75|         0.0|                  1.0|       46.55|                 2.5|        0.0|
|       2| 2023-01-01 00:34:44|  2023-01-01 01:04:25|            1.0|         3.23|       1.0|                 N|         164|         143|           1|       26.1|  1.0|    0.5|      6.22|         0.0|                  1.0|       37.32|                 2.5|        0.0|
|       2| 2023-01-01 00:09:29|  2023-01-01 00:29:23|            2.0|        11.43|       1.0|                 N|         138|          33|           1|       44.3|  6.0|    0.5|     13.26|         0.0|                  1.0|       66.31|                 0.0|       1.25|
|       2| 2023-01-01 00:33:53|  2023-01-01 00:49:15|            1.0|         2.95|       1.0|                 N|          33|          61|           1|       17.7|  1.0|    0.5|      4.04|         0.0|                  1.0|       24.24|                 0.0|        0.0|
|       2| 2023-01-01 00:13:04|  2023-01-01 00:22:10|            1.0|         1.52|       1.0|                 N|          79|         186|           1|       10.0|  1.0|    0.5|      1.25|         0.0|                  1.0|       16.25|                 2.5|        0.0|
|       2| 2023-01-01 00:45:11|  2023-01-01 01:07:39|            1.0|         2.23|       1.0|                 N|          90|          48|           1|       19.8|  1.0|    0.5|      4.96|         0.0|                  1.0|       29.76|                 2.5|        0.0|
|       1| 2023-01-01 00:04:33|  2023-01-01 00:19:22|            1.0|          4.5|       1.0|                 N|         113|         255|           1|       20.5|  3.5|    0.5|       4.0|         0.0|                  1.0|        29.5|                 2.5|        0.0|
|       1| 2023-01-01 00:03:36|  2023-01-01 00:09:36|            3.0|          1.2|       1.0|                 N|         237|         239|           2|        8.6|  3.5|    0.5|       0.0|         0.0|                  1.0|        13.6|                 2.5|        0.0|
|       1| 2023-01-01 00:15:23|  2023-01-01 00:29:41|            2.0|          2.5|       1.0|                 N|         143|         229|           2|       15.6|  3.5|    0.5|       0.0|         0.0|                  1.0|        20.6|                 2.5|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 20 rows

In [40]:
def transform_data(data):
    lower_column_name = [col(col_name).alias(col_name.lower()) for col_name in data.columns]
    data = data.select(*lower_column_name)

    fact_columns = ['tpep_dropoff_datetime','tpep_pickup_datetime','passenger_count', 'trip_distance','fare_amount', 'extra',
        'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
        'total_amount', 'congestion_surcharge', 'airport_fee']

    dimension_table_data = ['tpep_dropoff_datetime','tpep_pickup_datetime','ratecodeid','store_and_fwd_flag','pulocationid','dolocationid','payment_type']

    dimension_table_data = data.select(*dimension_table_data)

    time_table_data = data.select('tpep_dropoff_datetime','tpep_pickup_datetime')
    df_time_table_pickup = get_date_info_pyspark(time_table_data,'tpep_dropoff_datetime','pickup')
    df_time_table_dropoff = get_date_info_pyspark(df_time_table_pickup,'tpep_dropoff_datetime','dropoff')

    df_time_table_dropoff = df_time_table_dropoff.withColumn('datetime_id', join_pick_drop('tpep_pickup_datetime', 'tpep_dropoff_datetime'))

    fact_data_table = data.select(*fact_columns)
    fact_data_table = fact_data_table.drop('tpep_dropoff_datetime', 'tpep_pickup_datetime')
    dimension_table_data = dimension_table_data.withColumn('datetime_id', join_pick_drop('tpep_pickup_datetime', 'tpep_dropoff_datetime'))
    dimension_table_data = dimension_table_data.select('datetime_id', 'ratecodeid', 'store_and_fwd_flag', 'pulocationid', 'dolocationid', 'payment_type')
    
    ordered_column_time = ['datetime_id','tpep_dropoff_datetime',
    'tpep_pickup_datetime',
    'pickup_year',
    'pickup_month',
    'pickup_day',
    'pickup_hour',
    'pickup_minute',
    'pickup_day_of_week',
    'pickup_day_name',
    'pickup_is_month_end',
    'dropoff_year',
    'dropoff_month',
    'dropoff_day',
    'dropoff_hour',
    'dropoff_minute',
    'dropoff_day_of_week',
    'dropoff_day_name',
    'dropoff_is_month_end']

    df_time_table_dropoff = df_time_table_dropoff.selectExpr(*ordered_column_time)

    df_time_table_dropoff = df_time_table_dropoff.withColumn('tpep_dropoff_datetime', df_time_table_dropoff.tpep_dropoff_datetime.cast('timestamp'))
    df_time_table_dropoff = df_time_table_dropoff.withColumn('tpep_pickup_datetime', df_time_table_dropoff.tpep_pickup_datetime.cast('timestamp'))

    df_time_table_dropoff = df_time_table_dropoff.dropDuplicates(subset=['datetime_id'])
    fact_data_table = fact_data_table.dropDuplicates(subset=['datetime_id'])
    dimension_table_data = dimension_table_data.dropDuplicates(subset=['datetime_id'])

    return dimension_table_data, df_time_table_dropoff, fact_data_table

In [39]:
df.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       2| 2023-01-01 00:32:10|  2023-01-01 00:40:36|            1.0|         0.97|       1.0|                 N|         161|         141|           2|        9.3|  1.0|    0.5|       0.0|         0.0|                  1.0|        14.3|                 2.5|        0.0|
|       2| 2023-01-01 00:55:08|  2023-01-01 01:01:27|            1.0|          1.1|       1.0|                 N|          43|         237|           1|        7.9|  1.0|    0.5|       4.0|         0.0|                  1.0|        16.9|                 2.5|        0.0|
|       2| 2023-01-01 00:25:04|  2023-01-01 00:37:49|            1.0|         2.51|       1.0|                 N|          48|         238|           1|       14.9|  1.0|    0.5|      15.0|         0.0|                  1.0|        34.9|                 2.5|        0.0|
|       1| 2023-01-01 00:03:48|  2023-01-01 00:13:25|            0.0|          1.9|       1.0|                 N|         138|           7|           1|       12.1| 7.25|    0.5|       0.0|         0.0|                  1.0|       20.85|                 0.0|       1.25|
|       2| 2023-01-01 00:10:29|  2023-01-01 00:21:19|            1.0|         1.43|       1.0|                 N|         107|          79|           1|       11.4|  1.0|    0.5|      3.28|         0.0|                  1.0|       19.68|                 2.5|        0.0|
|       2| 2023-01-01 00:50:34|  2023-01-01 01:02:52|            1.0|         1.84|       1.0|                 N|         161|         137|           1|       12.8|  1.0|    0.5|      10.0|         0.0|                  1.0|        27.8|                 2.5|        0.0|
|       2| 2023-01-01 00:09:22|  2023-01-01 00:19:49|            1.0|         1.66|       1.0|                 N|         239|         143|           1|       12.1|  1.0|    0.5|      3.42|         0.0|                  1.0|       20.52|                 2.5|        0.0|
|       2| 2023-01-01 00:27:12|  2023-01-01 00:49:56|            1.0|         11.7|       1.0|                 N|         142|         200|           1|       45.7|  1.0|    0.5|     10.74|         3.0|                  1.0|       64.44|                 2.5|        0.0|
|       2| 2023-01-01 00:21:44|  2023-01-01 00:36:40|            1.0|         2.95|       1.0|                 N|         164|         236|           1|       17.7|  1.0|    0.5|      5.68|         0.0|                  1.0|       28.38|                 2.5|        0.0|
|       2| 2023-01-01 00:39:42|  2023-01-01 00:50:36|            1.0|         3.01|       1.0|                 N|         141|         107|           2|       14.9|  1.0|    0.5|       0.0|         0.0|                  1.0|        19.9|                 2.5|        0.0|
|       2| 2023-01-01 00:53:01|  2023-01-01 01:01:45|            1.0|          1.8|       1.0|                 N|         234|          68|           1|       11.4|  1.0|    0.5|      3.28|         0.0|                  1.0|       19.68|                 2.5|        0.0|
|       1| 2023-01-01 00:43:37|  2023-01-01 01:17:18|            4.0|          7.3|       1.0|                 N|          79|         264|           1|       33.8|  3.5|    0.5|      7.75|         0.0|                  1.0|       46.55|                 2.5|        0.0|
|       2| 2023-01-01 00:34:44|  2023-01-01 01:04:25|            1.0|         3.23|       1.0|                 N|         164|         143|           1|       26.1|  1.0|    0.5|      6.22|         0.0|                  1.0|       37.32|                 2.5|        0.0|
|       2| 2023-01-01 00:09:29|  2023-01-01 00:29:23|            2.0|        11.43|       1.0|                 N|         138|          33|           1|       44.3|  6.0|    0.5|     13.26|         0.0|                  1.0|       66.31|                 0.0|       1.25|
|       2| 2023-01-01 00:33:53|  2023-01-01 00:49:15|            1.0|         2.95|       1.0|                 N|          33|          61|           1|       17.7|  1.0|    0.5|      4.04|         0.0|                  1.0|       24.24|                 0.0|        0.0|
|       2| 2023-01-01 00:13:04|  2023-01-01 00:22:10|            1.0|         1.52|       1.0|                 N|          79|         186|           1|       10.0|  1.0|    0.5|      1.25|         0.0|                  1.0|       16.25|                 2.5|        0.0|
|       2| 2023-01-01 00:45:11|  2023-01-01 01:07:39|            1.0|         2.23|       1.0|                 N|          90|          48|           1|       19.8|  1.0|    0.5|      4.96|         0.0|                  1.0|       29.76|                 2.5|        0.0|
|       1| 2023-01-01 00:04:33|  2023-01-01 00:19:22|            1.0|          4.5|       1.0|                 N|         113|         255|           1|       20.5|  3.5|    0.5|       4.0|         0.0|                  1.0|        29.5|                 2.5|        0.0|
|       1| 2023-01-01 00:03:36|  2023-01-01 00:09:36|            3.0|          1.2|       1.0|                 N|         237|         239|           2|        8.6|  3.5|    0.5|       0.0|         0.0|                  1.0|        13.6|                 2.5|        0.0|
|       1| 2023-01-01 00:15:23|  2023-01-01 00:29:41|            2.0|          2.5|       1.0|                 N|         143|         229|           2|       15.6|  3.5|    0.5|       0.0|         0.0|                  1.0|        20.6|                 2.5|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 20 rows

In [28]:
# def get_date_info_pyspark(df, column, new_column_prefix):
#   """
#   Extracts various date information from a PySpark DataFrame column.

#   Args:
#     df: The PySpark DataFrame.
#     column: The name of the date column.
#     new_column_prefix: The prefix for the new columns containing date information.

#   Returns:
#     The modified DataFrame with new columns containing year, month, day, hour, minute,
#     day of week, day name, month-end flag, and year-end flag.
#   """

#   df = df.withColumn(f"{new_column_prefix}_year", F.year(F.col(column)))
#   df = df.withColumn(f"{new_column_prefix}_month", F.month(F.col(column)))
#   df = df.withColumn(f"{new_column_prefix}_day", F.dayofmonth(F.col(column)))
#   df = df.withColumn(f"{new_column_prefix}_hour", F.hour(F.col(column)))
#   df = df.withColumn(f"{new_column_prefix}_minute", F.minute(F.col(column)))
#   df = df.withColumn(f"{new_column_prefix}_day_of_week", F.dayofweek(column))
#   df = df.withColumn(f"{new_column_prefix}_day_name", F.date_format(column, "EEEE"))
#   df = df.withColumn(f"{new_column_prefix}_is_month_end", F.last_day(column) == column)
#   df = df.withColumn(f"{new_column_prefix}_is_year_end", F.last_day(column) == F.date_add(
#       F.last_day(column), F.months(1) - F.dayofmonth(column)
#   ))
  # return df

# Example usage
# df_pyspark = spark.createDataFrame([("2024-01-31 23:59:59",)], ["date"])
# df_with_date_info = get_date_info_pyspark(df_pyspark, "date", "date_info")
# df_with_date_info.show()
df_time_table_pickup = get_date_info_pyspark(df,'tpep_dropoff_datetime','pickup')

# df_time_table_pickup.show()





# from pyspark.sql import SparkSession
from pyspark.sql.functions import col, year, month, dayofmonth, hour, minute, dayofweek, date_format, last_day
from pyspark.sql.types import StringType

# def join_pick_drop(column_a, column_b):
#     return col(column_a).cast(StringType()) + "_" + col(column_b).cast(StringType())

# def get_date_info(df, column, new_column_prefix):
#     df = df.withColumn(f'{new_column_prefix}_year', year(col(column)))
#     df = df.withColumn(f'{new_column_prefix}_month', month(col(column)))
#     df = df.withColumn(f'{new_column_prefix}_day', dayofmonth(col(column)))
#     df = df.withColumn(f'{new_column_prefix}_hour', hour(col(column)))
#     df = df.withColumn(f'{new_column_prefix}_minute', minute(col(column)))
#     df = df.withColumn(f'{new_column_prefix}_day_of_week', dayofweek(col(column)))
#     df = df.withColumn(f'{new_column_prefix}_day_name', date_format(col(column), 'EEEE'))
#     df = df.withColumn(f'{new_column_prefix}_is_month_end', date_format(last_day(col(column)), 'yyyy-MM-dd') == col(column))
#     df = df.withColumn(f'{new_column_prefix}_is_year_end', year(last_day(col(column))) == year(col(column)))

#     return df

def transform_data(data):
    # spark = SparkSession.builder.appName("data_transform").getOrCreate()

    lower_column_name = [col(col_name).alias(col_name.lower()) for col_name in data.columns]
    data = data.select(*lower_column_name)

    fact_columns = ['tpep_dropoff_datetime','tpep_pickup_datetime','passenger_count', 'trip_distance','fare_amount', 'extra',
        'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
        'total_amount', 'congestion_surcharge', 'airport_fee']

    dimension_table_data = ['tpep_dropoff_datetime','tpep_pickup_datetime','ratecodeid','store_and_fwd_flag','pulocationid','dolocationid','payment_type']

    dimension_table_data = data.select(*dimension_table_data)

    time_table_data = data.select('tpep_dropoff_datetime','tpep_pickup_datetime')

    df_time_table_pickup = get_date_info(time_table_data, 'tpep_dropoff_datetime', 'pickup')

    df_time_table_dropoff = get_date_info(df_time_table_pickup, 'tpep_dropoff_datetime', 'dropoff')

    # df_time_table_dropoff.show()

    df_time_table_dropoff = df_time_table_dropoff.withColumn('datetime_id', join_pick_drop("tpep_pickup_datetime", "tpep_dropoff_datetime"))

    fact_data_table = data.select(fact_columns)

    fact_data_table = fact_data_table.withColumn('datetime_id', join_pick_drop('tpep_pickup_datetime', 'tpep_dropoff_datetime'))
    fact_data_table = fact_data_table.select(fact_data_table.columns[::-1])
    fact_data_table = fact_data_table.drop('tpep_dropoff_datetime', 'tpep_pickup_datetime')
    print(dimension_table_data.schema)

    dimension_table_data = dimension_table_data.withColumn('datetime_id', join_pick_drop('tpep_pickup_datetime', 'tpep_dropoff_datetime'))
    print(dimension_table_data.schema)
    dimension_table_data = dimension_table_data.select('datetime_id', 'ratecodeid', 'store_and_fwd_flag', 'pulocationid', 'dolocationid', 'payment_type')

    ordered_column_time = ['datetime_id','tpep_dropoff_datetime',
    'tpep_pickup_datetime',
    'pickup_year',
    'pickup_month',
    'pickup_day',
    'pickup_hour',
    'pickup_minute',
    'pickup_day_of_week',
    'pickup_day_name',
    'pickup_is_month_end',
    'dropoff_year',
    'dropoff_month',
    'dropoff_day',
    'dropoff_hour',
    'dropoff_minute',
    'dropoff_day_of_week',
    'dropoff_day_name',
    'dropoff_is_month_end']

    df_time_table_dropoff = df_time_table_dropoff.select(ordered_column_time)

    df_time_table_dropoff = df_time_table_dropoff.withColumn('tpep_dropoff_datetime', df_time_table_dropoff.tpep_dropoff_datetime.cast('timestamp'))
    df_time_table_dropoff = df_time_table_dropoff.withColumn('tpep_pickup_datetime', df_time_table_dropoff.tpep_pickup_datetime.cast('timestamp'))

    df_time_table_dropoff = df_time_table_dropoff.dropDuplicates(subset=['datetime_id'])
    fact_data_table = fact_data_table.dropDuplicates(subset=['datetime_id'])
    dimension_table_data = dimension_table_data.dropDuplicates(subset=['datetime_id'])

    return dimension_table_data, df_time_table_dropoff, fact_data_table

In [43]:
df = transform_data(df)

In [64]:
df

DataFrame[VendorID: bigint, tpep_pickup_datetime: timestamp, tpep_dropoff_datetime: timestamp, passenger_count: double, trip_distance: double, RatecodeID: double, store_and_fwd_flag: string, PULocationID: bigint, DOLocationID: bigint, payment_type: bigint, fare_amount: double, extra: double, mta_tax: double, tip_amount: double, tolls_amount: double, improvement_surcharge: double, total_amount: double, congestion_surcharge: double, airport_fee: double]

In [29]:
dimension_table_data, time_table_data, fact_data_table = transform_data(df)

StructType(List(StructField(tpep_dropoff_datetime,TimestampType,true),StructField(tpep_pickup_datetime,TimestampType,true),StructField(ratecodeid,DoubleType,true),StructField(store_and_fwd_flag,StringType,true),StructField(pulocationid,LongType,true),StructField(dolocationid,LongType,true),StructField(payment_type,LongType,true)))
StructType(List(StructField(tpep_dropoff_datetime,TimestampType,true),StructField(tpep_pickup_datetime,TimestampType,true),StructField(ratecodeid,DoubleType,true),StructField(store_and_fwd_flag,StringType,true),StructField(pulocationid,LongType,true),StructField(dolocationid,LongType,true),StructField(payment_type,LongType,true),StructField(datetime_id,StringType,false)))

In [22]:
time_table_data.show()

+--------------------+---------------------+--------------------+-----------+------------+----------+-----------+-------------+------------------+---------------+-------------------+------------+-------------+-----------+------------+--------------+-------------------+----------------+--------------------+
|         datetime_id|tpep_dropoff_datetime|tpep_pickup_datetime|pickup_year|pickup_month|pickup_day|pickup_hour|pickup_minute|pickup_day_of_week|pickup_day_name|pickup_is_month_end|dropoff_year|dropoff_month|dropoff_day|dropoff_hour|dropoff_minute|dropoff_day_of_week|dropoff_day_name|dropoff_is_month_end|
+--------------------+---------------------+--------------------+-----------+------------+----------+-----------+-------------+------------------+---------------+-------------------+------------+-------------+-----------+------------+--------------+-------------------+----------------+--------------------+
|2008-12-31 23:04:...|  2009-01-01 19:55:36| 2008-12-31 23:04:41|       2009|           1|         1|         19|           55|                 5|       Thursday|              false|        2009|            1|          1|          19|            55|                  5|        Thursday|               false|
|2022-10-25 01:59:...|  2022-10-25 02:09:02| 2022-10-25 01:59:02|       2022|          10|        25|          2|            9|                 3|        Tuesday|              false|        2022|           10|         25|           2|             9|                  3|         Tuesday|               false|
|2023-01-01 00:01:...|  2023-01-01 00:22:01| 2023-01-01 00:01:07|       2023|           1|         1|          0|           22|                 1|         Sunday|              false|        2023|            1|          1|           0|            22|                  1|          Sunday|               false|
|2023-01-01 00:01:...|  2023-01-01 00:17:01| 2023-01-01 00:01:18|       2023|           1|         1|          0|           17|                 1|         Sunday|              false|        2023|            1|          1|           0|            17|                  1|          Sunday|               false|
|2023-01-01 00:01:...|  2023-01-01 00:21:30| 2023-01-01 00:01:24|       2023|           1|         1|          0|           21|                 1|         Sunday|              false|        2023|            1|          1|           0|            21|                  1|          Sunday|               false|
|2023-01-01 00:02:...|  2023-01-01 00:44:02| 2023-01-01 00:02:19|       2023|           1|         1|          0|           44|                 1|         Sunday|              false|        2023|            1|          1|           0|            44|                  1|          Sunday|               false|
|2023-01-01 00:02:...|  2023-01-01 00:29:57| 2023-01-01 00:02:29|       2023|           1|         1|          0|           29|                 1|         Sunday|              false|        2023|            1|          1|           0|            29|                  1|          Sunday|               false|
|2023-01-01 00:02:...|  2023-01-01 00:12:15| 2023-01-01 00:02:33|       2023|           1|         1|          0|           12|                 1|         Sunday|              false|        2023|            1|          1|           0|            12|                  1|          Sunday|               false|
|2023-01-01 00:02:...|  2023-01-01 00:08:01| 2023-01-01 00:02:59|       2023|           1|         1|          0|            8|                 1|         Sunday|              false|        2023|            1|          1|           0|             8|                  1|          Sunday|               false|
|2023-01-01 00:03:...|  2023-01-01 00:17:51| 2023-01-01 00:03:48|       2023|           1|         1|          0|           17|                 1|         Sunday|              false|        2023|            1|          1|           0|            17|                  1|          Sunday|               false|
|2023-01-01 00:03:...|  2023-01-01 00:18:27| 2023-01-01 00:03:52|       2023|           1|         1|          0|           18|                 1|         Sunday|              false|        2023|            1|          1|           0|            18|                  1|          Sunday|               false|
|2023-01-01 00:03:...|  2023-01-01 00:37:00| 2023-01-01 00:03:53|       2023|           1|         1|          0|           37|                 1|         Sunday|              false|        2023|            1|          1|           0|            37|                  1|          Sunday|               false|
|2023-01-01 00:04:...|  2023-01-01 00:09:49| 2023-01-01 00:04:28|       2023|           1|         1|          0|            9|                 1|         Sunday|              false|        2023|            1|          1|           0|             9|                  1|          Sunday|               false|
|2023-01-01 00:04:...|  2023-01-01 00:09:33| 2023-01-01 00:04:32|       2023|           1|         1|          0|            9|                 1|         Sunday|              false|        2023|            1|          1|           0|             9|                  1|          Sunday|               false|
|2023-01-01 00:04:...|  2023-01-01 00:29:21| 2023-01-01 00:04:43|       2023|           1|         1|          0|           29|                 1|         Sunday|              false|        2023|            1|          1|           0|            29|                  1|          Sunday|               false|
|2023-01-01 00:04:...|  2023-01-01 00:45:38| 2023-01-01 00:04:45|       2023|           1|         1|          0|           45|                 1|         Sunday|              false|        2023|            1|          1|           0|            45|                  1|          Sunday|               false|
|2023-01-01 00:05:...|  2023-01-01 00:08:25| 2023-01-01 00:05:05|       2023|           1|         1|          0|            8|                 1|         Sunday|              false|        2023|            1|          1|           0|             8|                  1|          Sunday|               false|
|2023-01-01 00:05:...|  2023-01-01 00:11:13| 2023-01-01 00:05:09|       2023|           1|         1|          0|           11|                 1|         Sunday|              false|        2023|            1|          1|           0|            11|                  1|          Sunday|               false|
|2023-01-01 00:05:...|  2023-01-01 00:33:15| 2023-01-01 00:05:11|       2023|           1|         1|          0|           33|                 1|         Sunday|              false|        2023|            1|          1|           0|            33|                  1|          Sunday|               false|
|2023-01-01 00:05:...|  2023-01-01 00:10:37| 2023-01-01 00:05:12|       2023|           1|         1|          0|           10|                 1|         Sunday|              false|        2023|            1|          1|           0|            10|                  1|          Sunday|               false|
+--------------------+---------------------+--------------------+-----------+------------+----------+-----------+-------------+------------------+---------------+-------------------+------------+-------------+-----------+------------+--------------+-------------------+----------------+--------------------+
only showing top 20 rows

In [103]:
time_table_data.take(1)

[Row(datetime_id='2023-01-01 00:32:10_2023-01-01 00:40:36', tpep_dropoff_datetime=datetime.datetime(2023, 1, 1, 0, 40, 36), tpep_pickup_datetime=datetime.datetime(2023, 1, 1, 0, 32, 10), pickup_year=2023, pickup_month=1, pickup_day=1, pickup_hour=0, pickup_minute=40, pickup_day_of_week=1, pickup_day_name='Sunday', pickup_is_month_end=False, dropoff_year=2023, dropoff_month=1, dropoff_day=1, dropoff_hour=0, dropoff_minute=40, dropoff_day_of_week=1, dropoff_day_name='Sunday', dropoff_is_month_end=False)]

In [104]:
dimension_table_data.show()

+--------------------+----------+------------------+------------+------------+------------+
|         datetime_id|ratecodeid|store_and_fwd_flag|pulocationid|dolocationid|payment_type|
+--------------------+----------+------------------+------------+------------+------------+
|2023-01-01 00:32:...|       1.0|                 N|         161|         141|           2|
|2023-01-01 00:55:...|       1.0|                 N|          43|         237|           1|
|2023-01-01 00:25:...|       1.0|                 N|          48|         238|           1|
|2023-01-01 00:03:...|       1.0|                 N|         138|           7|           1|
|2023-01-01 00:10:...|       1.0|                 N|         107|          79|           1|
|2023-01-01 00:50:...|       1.0|                 N|         161|         137|           1|
|2023-01-01 00:09:...|       1.0|                 N|         239|         143|           1|
|2023-01-01 00:27:...|       1.0|                 N|         142|         200|           1|
|2023-01-01 00:21:...|       1.0|                 N|         164|         236|           1|
|2023-01-01 00:39:...|       1.0|                 N|         141|         107|           2|
|2023-01-01 00:53:...|       1.0|                 N|         234|          68|           1|
|2023-01-01 00:43:...|       1.0|                 N|          79|         264|           1|
|2023-01-01 00:34:...|       1.0|                 N|         164|         143|           1|
|2023-01-01 00:09:...|       1.0|                 N|         138|          33|           1|
|2023-01-01 00:33:...|       1.0|                 N|          33|          61|           1|
|2023-01-01 00:13:...|       1.0|                 N|          79|         186|           1|
|2023-01-01 00:45:...|       1.0|                 N|          90|          48|           1|
|2023-01-01 00:04:...|       1.0|                 N|         113|         255|           1|
|2023-01-01 00:03:...|       1.0|                 N|         237|         239|           2|
|2023-01-01 00:15:...|       1.0|                 N|         143|         229|           2|
+--------------------+----------+------------------+------------+------------+------------+
only showing top 20 rows

In [18]:
dimension_table_data

DataFrame[datetime_id: string, ratecodeid: double, store_and_fwd_flag: string, pulocationid: bigint, dolocationid: bigint, payment_type: bigint]

In [33]:
time_table_data

DataFrame[datetime_id: string, tpep_dropoff_datetime: timestamp, tpep_pickup_datetime: timestamp, pickup_year: int, pickup_month: int, pickup_day: int, pickup_hour: int, pickup_minute: int, pickup_day_of_week: int, pickup_day_name: string, pickup_is_month_end: boolean, dropoff_year: int, dropoff_month: int, dropoff_day: int, dropoff_hour: int, dropoff_minute: int, dropoff_day_of_week: int, dropoff_day_name: string, dropoff_is_month_end: boolean]

In [32]:
time_table_data.show()

+--------------------+---------------------+--------------------+-----------+------------+----------+-----------+-------------+------------------+---------------+-------------------+------------+-------------+-----------+------------+--------------+-------------------+----------------+--------------------+
|         datetime_id|tpep_dropoff_datetime|tpep_pickup_datetime|pickup_year|pickup_month|pickup_day|pickup_hour|pickup_minute|pickup_day_of_week|pickup_day_name|pickup_is_month_end|dropoff_year|dropoff_month|dropoff_day|dropoff_hour|dropoff_minute|dropoff_day_of_week|dropoff_day_name|dropoff_is_month_end|
+--------------------+---------------------+--------------------+-----------+------------+----------+-----------+-------------+------------------+---------------+-------------------+------------+-------------+-----------+------------+--------------+-------------------+----------------+--------------------+
|2008-12-31 23:04:...|  2009-01-01 19:55:36| 2008-12-31 23:04:41|       2009|           1|         1|         19|           55|                 5|       Thursday|              false|        2009|            1|          1|          19|            55|                  5|        Thursday|               false|
|2022-10-25 01:59:...|  2022-10-25 02:09:02| 2022-10-25 01:59:02|       2022|          10|        25|          2|            9|                 3|        Tuesday|              false|        2022|           10|         25|           2|             9|                  3|         Tuesday|               false|
|2023-01-01 00:01:...|  2023-01-01 00:22:01| 2023-01-01 00:01:07|       2023|           1|         1|          0|           22|                 1|         Sunday|              false|        2023|            1|          1|           0|            22|                  1|          Sunday|               false|
|2023-01-01 00:01:...|  2023-01-01 00:17:01| 2023-01-01 00:01:18|       2023|           1|         1|          0|           17|                 1|         Sunday|              false|        2023|            1|          1|           0|            17|                  1|          Sunday|               false|
|2023-01-01 00:01:...|  2023-01-01 00:21:30| 2023-01-01 00:01:24|       2023|           1|         1|          0|           21|                 1|         Sunday|              false|        2023|            1|          1|           0|            21|                  1|          Sunday|               false|
|2023-01-01 00:02:...|  2023-01-01 00:44:02| 2023-01-01 00:02:19|       2023|           1|         1|          0|           44|                 1|         Sunday|              false|        2023|            1|          1|           0|            44|                  1|          Sunday|               false|
|2023-01-01 00:02:...|  2023-01-01 00:29:57| 2023-01-01 00:02:29|       2023|           1|         1|          0|           29|                 1|         Sunday|              false|        2023|            1|          1|           0|            29|                  1|          Sunday|               false|
|2023-01-01 00:02:...|  2023-01-01 00:12:15| 2023-01-01 00:02:33|       2023|           1|         1|          0|           12|                 1|         Sunday|              false|        2023|            1|          1|           0|            12|                  1|          Sunday|               false|
|2023-01-01 00:02:...|  2023-01-01 00:08:01| 2023-01-01 00:02:59|       2023|           1|         1|          0|            8|                 1|         Sunday|              false|        2023|            1|          1|           0|             8|                  1|          Sunday|               false|
|2023-01-01 00:03:...|  2023-01-01 00:17:51| 2023-01-01 00:03:48|       2023|           1|         1|          0|           17|                 1|         Sunday|              false|        2023|            1|          1|           0|            17|                  1|          Sunday|               false|
|2023-01-01 00:03:...|  2023-01-01 00:18:27| 2023-01-01 00:03:52|       2023|           1|         1|          0|           18|                 1|         Sunday|              false|        2023|            1|          1|           0|            18|                  1|          Sunday|               false|
|2023-01-01 00:03:...|  2023-01-01 00:37:00| 2023-01-01 00:03:53|       2023|           1|         1|          0|           37|                 1|         Sunday|              false|        2023|            1|          1|           0|            37|                  1|          Sunday|               false|
|2023-01-01 00:04:...|  2023-01-01 00:09:49| 2023-01-01 00:04:28|       2023|           1|         1|          0|            9|                 1|         Sunday|              false|        2023|            1|          1|           0|             9|                  1|          Sunday|               false|
|2023-01-01 00:04:...|  2023-01-01 00:09:33| 2023-01-01 00:04:32|       2023|           1|         1|          0|            9|                 1|         Sunday|              false|        2023|            1|          1|           0|             9|                  1|          Sunday|               false|
|2023-01-01 00:04:...|  2023-01-01 00:29:21| 2023-01-01 00:04:43|       2023|           1|         1|          0|           29|                 1|         Sunday|              false|        2023|            1|          1|           0|            29|                  1|          Sunday|               false|
|2023-01-01 00:04:...|  2023-01-01 00:45:38| 2023-01-01 00:04:45|       2023|           1|         1|          0|           45|                 1|         Sunday|              false|        2023|            1|          1|           0|            45|                  1|          Sunday|               false|
|2023-01-01 00:05:...|  2023-01-01 00:08:25| 2023-01-01 00:05:05|       2023|           1|         1|          0|            8|                 1|         Sunday|              false|        2023|            1|          1|           0|             8|                  1|          Sunday|               false|
|2023-01-01 00:05:...|  2023-01-01 00:11:13| 2023-01-01 00:05:09|       2023|           1|         1|          0|           11|                 1|         Sunday|              false|        2023|            1|          1|           0|            11|                  1|          Sunday|               false|
|2023-01-01 00:05:...|  2023-01-01 00:33:15| 2023-01-01 00:05:11|       2023|           1|         1|          0|           33|                 1|         Sunday|              false|        2023|            1|          1|           0|            33|                  1|          Sunday|               false|
|2023-01-01 00:05:...|  2023-01-01 00:10:37| 2023-01-01 00:05:12|       2023|           1|         1|          0|           10|                 1|         Sunday|              false|        2023|            1|          1|           0|            10|                  1|          Sunday|               false|
+--------------------+---------------------+--------------------+-----------+------------+----------+-----------+-------------+------------------+---------------+-------------------+------------+-------------+-----------+------------+--------------+-------------------+----------------+--------------------+
only showing top 20 rows

In [30]:
time_table_data.write.format("jdbc").option("url", "jdbc:postgresql://localhost:5433/ny_taxi_database").option("driver", "org.postgresql.Driver").mode("append").option("dbtable", "raw.datetime_trip_table").option("user","idowuuser").option("password", "passwordguddy").save()

24/02/19 00:49:21 ERROR Executor: Exception in task 5.0 in stage 26.0 (TID 99)8]
java.sql.BatchUpdateException: Batch entry 0 INSERT INTO raw.datetime_trip_table ("datetime_id","tpep_dropoff_datetime","tpep_pickup_datetime","pickup_year","pickup_month","pickup_day","pickup_hour","pickup_minute","pickup_day_of_week","pickup_day_name","pickup_is_month_end","dropoff_year","dropoff_month","dropoff_day","dropoff_hour","dropoff_minute","dropoff_day_of_week","dropoff_day_name","dropoff_is_month_end") VALUES ('2008-12-31 23:01:42_2009-01-01 14:29:11','2009-01-01 14:29:11+00'::timestamp,'2008-12-31 23:01:42+00'::timestamp,2009,1,1,14,29,5,'Thursday','FALSE',2009,1,1,14,29,5,'Thursday','FALSE') was aborted: ERROR: null value in column "pickup_is_year_end" of relation "datetime_trip_table" violates not-null constraint
  Detail: Failing row contains (2008-12-31 23:01:42_2009-01-01 14:29:11, 2009-01-01 14:29:11, 2008-12-31 23:01:42, 2009, 1, 1, 14, 29, 5, Thursday, f, null, 2009, 1, 1, 14, 29, 5, Thursday, f, null).  Call getNextException to see other errors in the batch.
	at org.postgresql.jdbc.BatchResultHandler.handleError(BatchResultHandler.java:165)
	at org.postgresql.core.v3.QueryExecutorImpl.processResults(QueryExecutorImpl.java:2401)
	at org.postgresql.core.v3.QueryExecutorImpl.processResults(QueryExecutorImpl.java:2133)
	at org.postgresql.core.v3.QueryExecutorImpl.flushIfDeadlockRisk(QueryExecutorImpl.java:1490)
	at org.postgresql.core.v3.QueryExecutorImpl.sendQuery(QueryExecutorImpl.java:1515)
	at org.postgresql.core.v3.QueryExecutorImpl.execute(QueryExecutorImpl.java:559)
	at org.postgresql.jdbc.PgStatement.internalExecuteBatch(PgStatement.java:896)
	at org.postgresql.jdbc.PgStatement.executeBatch(PgStatement.java:919)
	at org.postgresql.jdbc.PgPreparedStatement.executeBatch(PgPreparedStatement.java:1677)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.savePartition(JdbcUtils.scala:723)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.$anonfun$saveTable$1(JdbcUtils.scala:890)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.$anonfun$saveTable$1$adapted(JdbcUtils.scala:888)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2(RDD.scala:1020)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2$adapted(RDD.scala:1020)
	at org.apache.spark.SparkContext.$anonfun$runJob$5(SparkContext.scala:2254)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:131)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:506)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1462)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:509)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:750)
Caused by: org.postgresql.util.PSQLException: ERROR: null value in column "pickup_is_year_end" of relation "datetime_trip_table" violates not-null constraint
  Detail: Failing row contains (2008-12-31 23:01:42_2009-01-01 14:29:11, 2009-01-01 14:29:11, 2008-12-31 23:01:42, 2009, 1, 1, 14, 29, 5, Thursday, f, null, 2009, 1, 1, 14, 29, 5, Thursday, f, null).
	at org.postgresql.core.v3.QueryExecutorImpl.receiveErrorResponse(QueryExecutorImpl.java:2712)
	at org.postgresql.core.v3.QueryExecutorImpl.processResults(QueryExecutorImpl.java:2400)
	... 21 more
24/02/19 00:49:21 ERROR TaskSetManager: Task 5 in stage 26.0 failed 1 times; aborting job

Py4JJavaError: An error occurred while calling o1000.save.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 5 in stage 26.0 failed 1 times, most recent failure: Lost task 5.0 in stage 26.0 (TID 99) (idowu-pc.home executor driver): java.sql.BatchUpdateException: Batch entry 0 INSERT INTO raw.datetime_trip_table ("datetime_id","tpep_dropoff_datetime","tpep_pickup_datetime","pickup_year","pickup_month","pickup_day","pickup_hour","pickup_minute","pickup_day_of_week","pickup_day_name","pickup_is_month_end","dropoff_year","dropoff_month","dropoff_day","dropoff_hour","dropoff_minute","dropoff_day_of_week","dropoff_day_name","dropoff_is_month_end") VALUES ('2008-12-31 23:01:42_2009-01-01 14:29:11','2009-01-01 14:29:11+00'::timestamp,'2008-12-31 23:01:42+00'::timestamp,2009,1,1,14,29,5,'Thursday','FALSE',2009,1,1,14,29,5,'Thursday','FALSE') was aborted: ERROR: null value in column "pickup_is_year_end" of relation "datetime_trip_table" violates not-null constraint
  Detail: Failing row contains (2008-12-31 23:01:42_2009-01-01 14:29:11, 2009-01-01 14:29:11, 2008-12-31 23:01:42, 2009, 1, 1, 14, 29, 5, Thursday, f, null, 2009, 1, 1, 14, 29, 5, Thursday, f, null).  Call getNextException to see other errors in the batch.
	at org.postgresql.jdbc.BatchResultHandler.handleError(BatchResultHandler.java:165)
	at org.postgresql.core.v3.QueryExecutorImpl.processResults(QueryExecutorImpl.java:2401)
	at org.postgresql.core.v3.QueryExecutorImpl.processResults(QueryExecutorImpl.java:2133)
	at org.postgresql.core.v3.QueryExecutorImpl.flushIfDeadlockRisk(QueryExecutorImpl.java:1490)
	at org.postgresql.core.v3.QueryExecutorImpl.sendQuery(QueryExecutorImpl.java:1515)
	at org.postgresql.core.v3.QueryExecutorImpl.execute(QueryExecutorImpl.java:559)
	at org.postgresql.jdbc.PgStatement.internalExecuteBatch(PgStatement.java:896)
	at org.postgresql.jdbc.PgStatement.executeBatch(PgStatement.java:919)
	at org.postgresql.jdbc.PgPreparedStatement.executeBatch(PgPreparedStatement.java:1677)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.savePartition(JdbcUtils.scala:723)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.$anonfun$saveTable$1(JdbcUtils.scala:890)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.$anonfun$saveTable$1$adapted(JdbcUtils.scala:888)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2(RDD.scala:1020)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2$adapted(RDD.scala:1020)
	at org.apache.spark.SparkContext.$anonfun$runJob$5(SparkContext.scala:2254)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:131)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:506)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1462)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:509)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:750)
Caused by: org.postgresql.util.PSQLException: ERROR: null value in column "pickup_is_year_end" of relation "datetime_trip_table" violates not-null constraint
  Detail: Failing row contains (2008-12-31 23:01:42_2009-01-01 14:29:11, 2009-01-01 14:29:11, 2008-12-31 23:01:42, 2009, 1, 1, 14, 29, 5, Thursday, f, null, 2009, 1, 1, 14, 29, 5, Thursday, f, null).
	at org.postgresql.core.v3.QueryExecutorImpl.receiveErrorResponse(QueryExecutorImpl.java:2712)
	at org.postgresql.core.v3.QueryExecutorImpl.processResults(QueryExecutorImpl.java:2400)
	... 21 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2403)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2352)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2351)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2351)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1109)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1109)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1109)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2591)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2533)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2522)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:898)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2214)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2235)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2254)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2279)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$1(RDD.scala:1020)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:414)
	at org.apache.spark.rdd.RDD.foreachPartition(RDD.scala:1018)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.saveTable(JdbcUtils.scala:888)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:69)
	at org.apache.spark.sql.execution.datasources.SaveIntoDataSourceCommand.run(SaveIntoDataSourceCommand.scala:45)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult$lzycompute(commands.scala:75)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult(commands.scala:73)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.executeCollect(commands.scala:84)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.$anonfun$applyOrElse$1(QueryExecution.scala:110)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$5(SQLExecution.scala:103)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:163)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:90)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:775)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:64)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:110)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:106)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:481)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(TreeNode.scala:82)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:481)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:30)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:267)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:263)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:30)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:30)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:457)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:106)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:93)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:91)
	at org.apache.spark.sql.execution.QueryExecution.assertCommandExecuted(QueryExecution.scala:128)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:848)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:382)
	at org.apache.spark.sql.DataFrameWriter.saveInternal(DataFrameWriter.scala:355)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:247)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.lang.Thread.run(Thread.java:750)
Caused by: java.sql.BatchUpdateException: Batch entry 0 INSERT INTO raw.datetime_trip_table ("datetime_id","tpep_dropoff_datetime","tpep_pickup_datetime","pickup_year","pickup_month","pickup_day","pickup_hour","pickup_minute","pickup_day_of_week","pickup_day_name","pickup_is_month_end","dropoff_year","dropoff_month","dropoff_day","dropoff_hour","dropoff_minute","dropoff_day_of_week","dropoff_day_name","dropoff_is_month_end") VALUES ('2008-12-31 23:01:42_2009-01-01 14:29:11','2009-01-01 14:29:11+00'::timestamp,'2008-12-31 23:01:42+00'::timestamp,2009,1,1,14,29,5,'Thursday','FALSE',2009,1,1,14,29,5,'Thursday','FALSE') was aborted: ERROR: null value in column "pickup_is_year_end" of relation "datetime_trip_table" violates not-null constraint
  Detail: Failing row contains (2008-12-31 23:01:42_2009-01-01 14:29:11, 2009-01-01 14:29:11, 2008-12-31 23:01:42, 2009, 1, 1, 14, 29, 5, Thursday, f, null, 2009, 1, 1, 14, 29, 5, Thursday, f, null).  Call getNextException to see other errors in the batch.
	at org.postgresql.jdbc.BatchResultHandler.handleError(BatchResultHandler.java:165)
	at org.postgresql.core.v3.QueryExecutorImpl.processResults(QueryExecutorImpl.java:2401)
	at org.postgresql.core.v3.QueryExecutorImpl.processResults(QueryExecutorImpl.java:2133)
	at org.postgresql.core.v3.QueryExecutorImpl.flushIfDeadlockRisk(QueryExecutorImpl.java:1490)
	at org.postgresql.core.v3.QueryExecutorImpl.sendQuery(QueryExecutorImpl.java:1515)
	at org.postgresql.core.v3.QueryExecutorImpl.execute(QueryExecutorImpl.java:559)
	at org.postgresql.jdbc.PgStatement.internalExecuteBatch(PgStatement.java:896)
	at org.postgresql.jdbc.PgStatement.executeBatch(PgStatement.java:919)
	at org.postgresql.jdbc.PgPreparedStatement.executeBatch(PgPreparedStatement.java:1677)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.savePartition(JdbcUtils.scala:723)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.$anonfun$saveTable$1(JdbcUtils.scala:890)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.$anonfun$saveTable$1$adapted(JdbcUtils.scala:888)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2(RDD.scala:1020)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2$adapted(RDD.scala:1020)
	at org.apache.spark.SparkContext.$anonfun$runJob$5(SparkContext.scala:2254)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:131)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:506)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1462)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:509)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	... 1 more
Caused by: org.postgresql.util.PSQLException: ERROR: null value in column "pickup_is_year_end" of relation "datetime_trip_table" violates not-null constraint
  Detail: Failing row contains (2008-12-31 23:01:42_2009-01-01 14:29:11, 2009-01-01 14:29:11, 2008-12-31 23:01:42, 2009, 1, 1, 14, 29, 5, Thursday, f, null, 2009, 1, 1, 14, 29, 5, Thursday, f, null).
	at org.postgresql.core.v3.QueryExecutorImpl.receiveErrorResponse(QueryExecutorImpl.java:2712)
	at org.postgresql.core.v3.QueryExecutorImpl.processResults(QueryExecutorImpl.java:2400)
	... 21 more

In [31]:
!pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.9.tar.gz (384 kB)
      384.9/384.9 kB 6.0 MB/s eta 0:00:00[31m4.0 MB/s eta 0:00:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: psycopg2
  Building wheel for psycopg2 (setup.py) ... done
  Created wheel for psycopg2: filename=psycopg2-2.9.9-cp311-cp311-linux_x86_64.whl size=168870 sha256=fbbe6c7d4898c723143686b24e2edfd65306451396b690ce9c82db9a320cbfa9
  Stored in directory: /home/idowuileks/.cache/pip/wheels/ab/34/b9/78ebef1b3220b4840ee482461e738566c3c9165d2b5c914f51
Successfully built psycopg2
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.9

In [40]:
from sqlalchemy import create_engine,sql
import pandas as pd
engine = create_engine('postgresql+psycopg2://idowuuser:passwordguddy@localhost:5433/ny_taxi_database')

In [41]:
# engine.connect()

In [42]:
sql_query = "SELECT * FROM raw.test_new_new LIMIT 10"

In [44]:
import pandas as pd

pd.read_sql(sql_query, con=engine).shape

(100, 19)

In [ ]:
dimension_table_data, time_table_data, fact_data_table = transform_data(df)

In [53]:
def read_load_data_db(df, table_name, schema_name):
    sql_query_check_data = f"""SELECT * FROM {schema_name}.{table_name}"""
    if pd.read_sql(sql_query, con=engine).shape[0] > 3:
        df.repartition(100).write.format("jdbc").option("url", "jdbc:postgresql://localhost:5433/ny_taxi_database").option("driver", "org.postgresql.Driver").option("dbtable", f"{schema_name}.{table_name}").option("user","idowuuser").option("password", "passwordguddy").mode('append').save()
    else:
        df.repartition(100).write.format("jdbc").option("url", "jdbc:postgresql://localhost:5433/ny_taxi_database").option("driver", "org.postgresql.Driver").option("dbtable", f"{schema_name}.{table_name}").option("user","idowuuser").option("password", "passwordguddy").mode('overwrite').save()

In [54]:
read_load_data_db(dimension_table_data, 'ny_taxi_dimension_table', 'raw')

In [55]:
read_load_data_db(time_table_data, 'ny_taxi_time_table', 'raw')

In [56]:
read_load_data_db(fact_data_table, 'ny_taxi_fact_table', 'raw')

In [16]:
from time import time
start_time = time()
df.repartition(100).write.format("jdbc").option("url", "jdbc:postgresql://localhost:5433/ny_taxi_database").option("driver", "org.postgresql.Driver").option("dbtable", "raw.test_new_new").option("user","idowuuser").option("password", "passwordguddy").mode('overwrite').save()
end_time = time()

print(end_time-start_time)

27.378268480300903

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lit, lower, to_timestamp, date_format, udf, monotonically_increasing_id

def transform_data_pyspark(data_df):
    """
    Transforms a PySpark DataFrame containing taxi trip data into dimension and fact tables.

    Args:
        data_df (pyspark.sql.DataFrame): The input DataFrame containing taxi trip data.

    Returns:
        Tuple(pyspark.sql.DataFrame, pyspark.sql.DataFrame, pyspark.sql.DataFrame):
            - dimension_table: The dimension table containing date-related and static attributes.
            - time_table: The time table containing extracted date and time components from timestamps.
            - fact_table: The fact table containing aggregated trip metrics associated with datetimes.
    """

    # Lowercase column names for consistency
    data_df = data_df.withColumnRenamed('*', lower(col('*')))

    # Define fact and dimension table columns
    fact_columns = [
        'tpep_dropoff_datetime', 'tpep_pickup_datetime', 'passenger_count', 'trip_distance',
        'fare_amount', 'extra', 'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
        'total_amount', 'congestion_surcharge', 'airport_fee'
    ]
    dimension_columns = [
        'tpep_dropoff_datetime', 'tpep_pickup_datetime', 'ratecodeid', 'store_and_fwd_flag',
        'pulocationid', 'dolocationid', 'payment_type'
    ]

    # Extract date and time components using to_timestamp and date_format
    time_table_df = data_df.select(
        'tpep_dropoff_datetime', 'tpep_pickup_datetime'
    ).withColumn('tpep_dropoff_datetime', to_timestamp(col('tpep_dropoff_datetime'))) \
       .withColumn('tpep_pickup_datetime', to_timestamp(col('tpep_pickup_datetime'))) \
       .withColumn('pickup_year', date_format(col('tpep_pickup_datetime'), 'yyyy')) \
       .withColumn('pickup_month', date_format(col('tpep_pickup_datetime'), 'MM')) \
       .withColumn('pickup_day', date_format(col('tpep_pickup_datetime'), 'dd')) \
       .withColumn('pickup_hour', date_format(col('tpep_pickup_datetime'), 'HH')) \
       .withColumn('pickup_minute', date_format(col('tpep_pickup_datetime'), 'mm')) \
       .withColumn('pickup_day_of_week', date_format(col('tpep_pickup_datetime'), 'E')) \
       .withColumn('pickup_day_name', date_format(col('tpep_pickup_datetime'), 'EEEE')) \
       .withColumn('pickup_is_month_end', date_format(col('tpep_pickup_datetime'), 'd').cast('int') == 31) \
       .withColumn('pickup_is_year_end', date_format(col('tpep_pickup_datetime'), 'MM').cast('int') == 12) \
       .withColumn('dropoff_year', date_format(col('tpep_dropoff_datetime'), 'yyyy')) \
       .withColumn('dropoff_month', date_format(col('tpep_dropoff_datetime'), 'MM')) \
       .withColumn('dropoff_day', date_format(col('tpep_dropoff_datetime'), 'dd')) \
       .withColumn('dropoff_hour', date_format(col('tpep_dropoff_datetime'), 'HH')) \
       .withColumn('dropoff_minute', date_format(col('tpep_dropoff_datetime'), 'mm')) \
       .withColumn('dropoff_day_of_week', date_format(col('tpep_dropoff_datetime'), 'E')) \
       .withColumn('dropoff_day_name', date_format(col('tpep_dropoff_datetime'), 'EEEE')) \
       .withColumn('dropoff_is_month_end', date_format(col('tpep_dropoff_